<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
</head>
<body>
 <h1>Leon Fray</h1>
 <p>My name is Leon Fray and I am a student at the University of West Indies. I am studying Computer Science and I am in my third year. 
    I am from New York and I interested in learning more about web development as well as many different programming languages.
 </p>
<img src="{{ url_for('static', filename='uwi.jpg')}}"/>
</body>
</html>